asgiref==3.7.2
certifi==2024.8.30
channels-redis==4.2.0
charset-normalizer==3.3.2
distlib==0.3.7
Django==4.2.6
filelock==3.12.2
idna==3.10
msgpack==1.0.8


optional-django==0.1.0
pillow==10.4.0
platformdirs==3.10.0
redis==5.0.7
requests==2.32.3
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.2.3
virtualenv==20.24.3
