{% extends 'attendance/base.html' %}
{% load static %}

{% block title %}Reset Your Password{% endblock %}
{% block content %}
<div class="reset-password-container">
    <h1 class="reset-password-heading">Reset Your Password</h1>
    
    <form method="post" class="reset-password-form">
        {% csrf_token %}
        {% for field in form %}
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
            <input type="{{ field.field.widget.input_type }}" 
                   name="{{ field.name }}" 
                   id="{{ field.id_for_label }}" 
                   class="form-input" 
                   value="{{ field.value|default_if_none:'' }}" 
                   {% if field.field.required %}required{% endif %} 
                   placeholder="{{ field.label }}">
        {% endfor %}
        <button type="submit" class="submit-button">Send me a reset link</button>
    </form>

    


<style>
    .reset-password-container {
        background-color: #212E3C;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 604px;
        width: 100%;
        margin: 40px auto;
    }

    .reset-password-heading {
        background-color: #4F6C8A;
        color: #C5C6C7;
        padding: 10px 20px;
        border-radius: 10px 10px 0 0;
        margin: -20px -20px 20px -20px;
    }

    .reset-password-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-label {
        display: block;
        color: #C5C6C7;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .form-input {
        width: calc(50% - 20px);
        padding: 10px;
        background-color: #2C3E50;
        color: #C5C6C7;
        margin: 10px 0; 
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .form-input::placeholder {
        color: #AAB8C8; 
    }

    .submit-button {
        width: calc(50% - 20px);
        max-width: 300px;
        padding: 10px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        background-color: #4F6C8A;
        color: #C5C6C7;
        cursor: pointer;
    }

    .back-container {
        margin-top: 20px;
        color: #C5C6C7;
    }

    .back-link {
        color: #4F6C8A;
        text-decoration: none;
        font-weight: bold;
    }

    .back-link:hover {
        text-decoration: underline;
    }

   
    @media (max-width: 768px) {
        .form-input, .submit-button {
            width: calc(70% - 20px);
        }
    }

    @media (max-width: 480px) {
        .reset-password-container {
            width: 90%;
        }

        .reset-password-heading {
            font-size: 20px;
        }

        .form-input, .submit-button {
            width: calc(100% - 30px);
            font-size: 14px;
        }
    }
</style>
{% endblock %}
